In [3]:
!python3 -m venv myenv

In [4]:
!source myenv/bin/activate

In [5]:
!pip install tensorflow

error: externally-managed-environment

√ó This environment is externally managed
‚ï∞‚îÄ> To install Python packages system-wide, try apt install
    python3-xyz, where xyz is the package you are trying to
    install.

    If you wish to install a non-Debian-packaged Python package,
    create a virtual environment using python3 -m venv path/to/venv.
    Then use path/to/venv/bin/python and path/to/venv/bin/pip. Make
    sure you have python3-full installed.

    If you wish to install a non-Debian packaged Python application,
    it may be easiest to use pipx install xyz, which will manage a
    virtual environment for you. Make sure you have pipx installed.

    See /usr/share/doc/python3.11/README.venv for more information.

note: If you believe this is a mistake, please contact your Python installation or OS distribution provider. You can override this, at the risk of breaking your Python installation or OS, by passing --break-system-packages.
hint: See PEP 668 for the detailed specification.

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
dataset = pd.read_csv("sentiment_analysis.csv", encoding='latin-1')

In [4]:
dataset.shape

(1048572, 6)

In [5]:
dataset.head()

,polarity of tweet,id of the tweet,date of the tweet,query,user,text of the tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [6]:

dataset.columns = ["polarity","id","date","query","user","text"]

In [7]:
dataset = dataset[["text","polarity"]]
dataset.head()

                                                text  polarity
0  is upset that he can't update his Facebook by ...         0
1  @Kenichan I dived many times for the ball. Man...         0
2    my whole body feels itchy and like its on fire          0
3  @nationwideclass no, it's not behaving at all....         0
4                      @Kwesidei not the whole crew          0

In [8]:
dataset.tail()

                                                      text  polarity
1048567           My GrandMa is making Dinenr with my Mum          4
1048568  Mid-morning snack time... A bowl of cheese noo...         4
1048569  @ShaDeLa same here  say it like from the Termi...         4
1048570             @DestinyHope92 im great thaanks  wbuu?         4
1048571               cant wait til her date this weekend          4

In [9]:
dataset.groupby("polarity").describe()

            text
           count  unique                        top freq
polarity
0         799996  790181  isPlayer Has Died! Sorry   210
4         248576  246727              Good morning    43

In [10]:
dataset.polarity.value_counts()

0    799996
4    248576
Name: polarity, dtype: int64

In [11]:
dataset.isnull().sum()

text        0
polarity    0
dtype: int64

In [12]:
dataset.dtypes

text        object
polarity     int64
dtype: object

In [13]:
dataset1 = dataset.copy()

In [14]:
top = dataset1[:248576]
down = dataset1[-248576:]

In [15]:
top.polarity.value_counts()

0    248576
Name: polarity, dtype: int64

In [16]:
down.polarity.value_counts()

4    248576
Name: polarity, dtype: int64

In [17]:
dataset = pd.concat([top,down],ignore_index=True)

In [18]:
dataset.polarity.value_counts()

0    248576
4    248576
Name: polarity, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(dataset1.text,dataset1.polarity,test_size=0.3)

In [20]:
xtrain.shape

(734000,)

In [21]:
ytrain.value_counts()

0    559866
4    174134
Name: polarity, dtype: int64

In [22]:
ytest.value_counts()

0    240130
4     74442
Name: polarity, dtype: int64

In [23]:
xtest.shape

(314572,)

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

v = CountVectorizer()

xtrain_count = v.fit_transform(xtrain.values)

In [25]:
from sklearn.naive_bayes import MultinomialNB

In [26]:
model = MultinomialNB(alpha=1)
model.fit(xtrain_count,ytrain)

MultinomialNB(alpha=1)

In [27]:
xtest_count = v.transform(xtest)
model.score(xtest_count,ytest)

0.8315393614180537

In [39]:
pre = ["Disappointed with the quality of this product. It didn't live up to my expectations",
       "Absolutely in love with this! The colors are vibrant, and the quality is outstanding. üòç Can't wait to get more from your collection"]
x=v.transform(pre)

In [40]:
x.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [41]:
model.predict(x)

array([0, 4])

In [ ]:
#from sklearn.svm import SVC

In [ ]:
#svm = SVC(C=1,kernel="rbf",gamma="auto")
#svm.fit(xtrain_count,ytrain)

In [ ]:
#svm.score(xtest_count,ytest)

In [ ]:
#from sklearn.model_selection import GridSearchCV

In [ ]:
#parameters = {"C":[1,10,0.1,0.01,0.001,0.0001,0.00001,100],"gamma":[0.1,0.01,1,10,"auto"],"kernel":["linear","rbf"]}
#cv = GridSearchCV(SVC(),parameters,cv=3)

In [ ]:
#cv.fit(xtrain_count,ytrain)

In [ ]:
#cv.best_score_

In [ ]:
#cv.best_params_